/* GLOBAL CSS */

body {
	background-color: #212121;
}

header img {
	width: 30px;
	height: 35px;
	border-radius: 50%;
}

/* INDEX */

#info-text {
	width: 100%;
}

#profile-pic {
	height: 100%;
	width: 100%;
}

.my-cards {
	margin-bottom: 1rem;
}

.card {
	width: 100%;
	height: 100%;
}

.card img {
	height: 100%;
}

.card-footer {
	padding: 0px;
}

.btn {
	border-radius: 0px;
	width: 100%;
}

#contact {
	margin-top: 1rem;
}

.logos {
	width: 35px;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	filter: grey;
	-webkit-filter: grayscale(100%);
}

.logos:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}